@mixin md{
    @media (min-width: 1200px) { @content; }
}
.c-chronology{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquepele/mob-cronology.png');
    min-height: 100vh;
    padding: 100px 0px;
    background-size: cover;
    background-position: center;

    @include md{
        background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemessi/bg-timeline.png');
    }


}