@mixin md{
    @media (min-width: 1200px) { @content; }
}
.c-chronology{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquepele/mob-cronology.png');
    min-height: 100vh;
    padding: 100px 0px;
    background-size: cover;
    background-position: center;

    @include md{
        background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquemessi/bg-timeline.png');
    }
    .chronology{
        &-img{
            width: 100%;
            z-index: 1;
            position: relative;
            
            &_2008{
                position: relative;
                left: 60px;
                width: 115%;
                z-index: 0;
            }
            &_2009{
                width: 350px;
            }
            &_2015{
                width: 600px;
            }
            &_2022{
                margin-bottom: 32px;
            }
        }
        .img-left{
            margin-bottom: 16px;
        }
        &-text{
            font-weight: 600;
            color: #000;
            text-align: justify;
            font-size: 18px;

            &_2008{
                padding-left: 25%;
            }
            &_2011{
                text-align: center;
            }
            &_2009{
                padding-right: 32px;
            }
        }
        &-traco{
            position: absolute;
            left: 100px;
            top: 120px;
            height: 250px;

            &_left{
                height: 300px;
                top: 0px;
                left: 200px;
                z-index: 0;
            }
        }
        &-seta{
            position: absolute;
            left: 15%;
            top: -5%;
            height: 120px;

            &_2{
                left: 15%;
                top: 85%;
            }
        }
        &-hat_trick{
            position: absolute;
            left: 10%;
            top: 55%;
            height: 80px;
        }

        &-trophy{
            position: absolute;
            right: -10%;
            top: 50px;
            height: 130px;
        }

        &-game{
            position: absolute;
            width: 200px;
            left: 75%;
            bottom: -45%;
        }
    }

}